.d-inline-block{
    display: inline-block;
    background-color: aliceblue;
    border: 1px solid green;

    width: 50px;
    height: 50px;
    font-size: 12px;

    /*여백적용*/
}

.parrent{
    width: 500px;
    height: 250px;
    background-color: red;
}

.parrent > .min{
    min-width: 400px;
    height: 100px;
    background-color: orange;
}

.parent > .max{
    max-width: 400px;
    height: 100px;
    background-color: violet;
}

/* 단위 확인*/

.box{
    background-color: beige;
    border: 1px solid black;
}

.box-px{
    width: 50px;
    height: 50px;
}

.box-view{
    width: 50vw;
    height: 50vh;
}

.box-per{
    width: 50%;
    height: 50%;
}

html{
    font-size: 20px;
}

.square{
    width: 100px;
    height: 100px;
    border: 1px solid gray;
    display: inline-block;
    cursor: pointer;
}

.border{
    /* sidth, style, color 순으로 단축설정 작성 */
    border: 1px solid black;
    border-color: blue;
    border-style: dotted;
    border-width: 5px;

    border-left: 2px deshed greenyellow;
    border-top-style: solid;
}

.rounded{
    border-radius: 10px;
    border-radius: 5px 10px 20px 40px;
    border-radius: 5px 20px 50px;
    border-radius: 5px 50px;
}

.box-sizing{
    border: 15px solid red;
    padding: 20px;
    background-color: yellow;
}

.content-box{
    box-sizing: content-box;
}

.border-box{
    box-sizing: border-box;
}


.d-none {
    /* display: none; */
    background-color: red;
    }
    .invisible {
    /*visibility: hidden;*/ 
    background-color: orangered;
    }
    .opacity-0 {
    /*opacity: 0;*/
    background-color: tomato;
    }    

